@model UserDashboardViewModel
@{
    Layout = "_Layout";
}

<h1>Dashboard Utente</h1>

<h2>Notifiche</h2>
<ul>
@foreach (var n in Model.Notifications)
{
    <li>@n.Message (@n.Date)</li>
}
</ul>

<hr />

<h2>Ricariche</h2>
<table border="1">
<tr>
    <th>Auto</th>
    <th>Percentuale</th>
    <th>Stato</th>
</tr>

@foreach (var r in Model.ChargingRequests)
{
<tr>
    <td>@r.CarId</td>
    <td>@r.RequestedPercentage %</td>
    <td>@r.Status</td>
</tr>
}
</table>
